*{
    font-family: 'Raleway';
    color: aliceblue;
}
@font-face {
    font-family: 'Raleway';
    src: url('../Desafio-css/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
}
body{
    margin: 0;
    background-color: black;
}
header{
    background: linear-gradient(rgba(0, 0, 0), rgb(11, 44, 58), rgba(0, 0, 0));
}
header h1{
    font-size: 40px;
    background:linear-gradient(rgb(108, 211, 255), rgb(14, 85, 136));
    background-clip: text;
    color: transparent;
    text-transform: uppercase;
    font-weight: 900;
    margin: 20px 0 0 0;
}
header p {
    font-size: 20px;
    color: white;
    width: 600px;
    text-align: center;
}
.banner-content{
    background-image: url(./assets/images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #31A8DD;
}
.logo img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.logo{
    width: 200px;
    height: 200px;
    border-radius: 500px;
    background-color: rgba(0, 0, 0, 0.37);
    padding: 30px;
}
.banner-content button {
    color: #31A8DD;
    font-size: 1rem;
    font-weight: bold;
    padding: 16px 32px;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: transparent;
    border-image: linear-gradient(#3BA1CD, #1572B7);
    border-image-slice: 1;
}
#course-content h2{
    color: #31A8DD;
    text-transform: uppercase;
    font-weight: 700;
    margin: 25px 0 0 0;
    font-size: 32px;
    letter-spacing: 4px;
}
#course-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 500px;
    border-bottom: 1px solid #31A8DD;
}
#course-content p {
    width: 850px;
    margin-bottom: 30px;
}
.modules-list .module{
    background-color: rgb(34, 34, 34);
    margin-bottom: 20px;
    padding: 15px 30px 15px 30px;
    border-radius: 25px;
    border: 1px solid #31A8DD;
    box-shadow: inset 1px 1px 12px #000;
}
.module span{
    color: #31A8DD;
}
#transform-world{
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #31A8DD;
    background-attachment: fixed;
    background-image: url(/Desafio-css/assets/images/woman-code.png);
    background-size: cover;
    background-position: center;
}
#transform-world p{
    text-transform: lowercase;
    font-size: 40px;
    font-weight: 800;
    width: 250px;
    margin-left: 150px;
    text-shadow: #33a8db 3px 3px 0px;
}
#professional-challenges{
    border-bottom: 1px solid #31A8DD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#professional-challenges h2{
    color: #31A8DD;
    text-transform: uppercase;
    font-weight: 700;
    margin: 80px 0 55px 0;
    font-size: 32px;
    letter-spacing: 4px;
    width: 700px;
}
#professional-challenges p{
    width: 900px;
    margin-top: 50px;
    margin-bottom: 80px;
}
footer{
    text-align: center;
    padding: 60px 0px 60px 0px;
    background: linear-gradient(#000, #1572B7 400%);
    font-weight: 500;
}
footer p a{
   color: #31A8DD;
   text-decoration: none;
   font-weight: 700;
}